@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #d4d6b9, #d1caa1 ) 
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7c7860d0;
}

h1{ 
    color: #32213A;
    text-align: center;
    text-shadow: 1px 1px 2px #190f1d8a;

}

h2{
    color: #484149;
}

p{
    text-align: justify;
}